<div class="container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
        <div class="block-text ">
          <div class="main-text-align">
            <h1>Test assignment for
              Frontend Developer
              position
            </h1>
            <p class="mt-3">
              We kindly remind you that your test assignment
              should be submitted as a link to github/bitbucket
              repository. Please be pateint, we consider and
              respond to every application that meet minimum
              requirements. We look forward to your submission
              Good luck!
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="btn-align">
        <button class="btn mt-5 mb-5"><b>Sign Up</b></button>
      </div>
    </div>
  </div>
</div>
