<div class="container">
  <h2 class="text-center mt-5 mb-5" >
    Lets get acquainted!
  </h2>
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 my-auto">
      <img src="../../img/man-mobile.svg" id="man-mobile-img">
      <!--<div id="man-mobile-img"></div>-->
    </div>


    <div class="mb-5 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h3 class="mt-5 mb-5 main-text-align">I am a cool frontend developer</h3>
      <p class="main-text-align">
        When real users have a slow experience on mobile, they`re much likely to fined what they
        are looking for or purchase from you in the future. For many sites this equates to a huge
        missed opportunity, especially when more than half of visits are abandoned if a mobile page
        takes over 3 seconds to load.
      </p>
      <p class="main-text-align">
        Last week GoogleSearch abd Ads trams announced two new speed initiatives to help
        improve user-experience on the web.
      </p>
    </div>


  </div>

  <div class="row">
    
  <div class="text-center">
    <h1 class="my-5">
      About my relationships with web-development
    </h1>
  </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
      <div class="row mb-5">


            <div class="col-sm-12 offset-md-2 col-md col-lg col-xl mx-auto">
              <img src="../../img/html.svg" id="html-img">
              <!--<div id="html-img"></div>-->
            </div>


            <div class="text-tech-align-together  col-sm-12 col-md col-lg col-xl">
              <h3 class="text-tech-align">I`m in love with HTML</h3>

              <p class="text-tech-align text-about-tech-width">
                Hypertext MarckUp Language(HTML)
                is the standard markup language for
                creating web pages and web application
              </p>
            </div>

      </div>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
      <div class="row mb-5">

        <div class="text-center col-sm-12 offset-md-2 col-md col-lg col-xl mx-auto">
          <img src="../../img/css.svg" id="css-img">
          <!--<div id="css-img"></div>-->
        </div>

        <div class="text-tech-align-together  col-sm-12 col-md col-lg col-xl">
          <h3 class="text-tech-align">CSS is my best friend</h3>

          <p class="text-tech-align text-about-tech-width">
            Cascading Style Sheets (CSS)
            is a style sheet language used for
            describing the presentional of a
            document written in a markup
            language like HTML
          </p>
        </div>

      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
      <div class="row mb-5">

        <div class="col-sm-12 offset-md-2 col-md col-lg col-xl mx-auto">
          <img src="../../img/javascript.svg" id="js-img">
          <!--<div id="js-img"></div>-->
        </div>

        <div class="text-tech-align-together  col-sm-12 col-md col-lg col-xl">
          <h3 class="text-tech-align">JavaScript is my passion</h3>

          <p class="text-tech-align text-about-tech-width">
            JavaScript is a high-level, interpreted
            programing language. It is a language
            which is also characterized as dynamic,
            weakly typed, prototype-based and
            multi-paradigm.
          </p>
        </div>

      </div>
    </div>
  </div> <!-- row class end-->
</div>
